<div class="eventscreen">
    <div class="searchbar" id="searchbar">
        qui c'è la barra di ricerca se non è sulla barra header 
    </div>
    <% Current.user.following_events.each do |e|%>
        <details class="box">
            <summary>
                <div class="event">
                    <div>Evento: <%= e.name%></div>         
                    <div><%= e.address%></div>
                    <div><%= e.date%></div>
                    <div><% if e.is_following?%>
                        Segui
                        <% else%>
                        Non Segui
                        <%end%>
                    </div>              
                </div>    
            </summary>
            <div>
                <%= e.descr %>
            </div>
        </details>
        
    <% end %>
    <!-- il contatore qui sotto è per procedere gli eventi e le notizie stile facebook, adesso per prova messo quello -->
    <% Event.allevents.each do |e| %>
        <details class="box">
            <summary>
                <table>
                    <tr>
                        <th><%= e.name%></th>
                        <div><%= e.address%></div>
                        <div><%= e.date%></div>
                        <div><% if e.is_following?%>
                            Segui
                            <% else%>
                            Non Segui
                            <%end%>
                        </div>
                    </tr>
                </table>
            </summary>
            <div>
                <%= e.descr %>
            </div>
        </details>
    <% end %>
</div>

