<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= event.descr %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= event.user.email_address %>
  </p>

  <p>
    <% if event.is_following? %>
      <strong> Event Followed </strong>
    <% else %>
      <strong> Event not Followed </strong>
    <% end%>
  </p>
</div>
