<div id="<%= dom_id event %>">
  <p>
    <strong>Info:</strong>
    <%= event.info %>
  </p>

  <p>
    <strong>Gif:</strong>
    <%= event.gif %>
  </p>

  <p>
    <strong>Join max:</strong>
    <%= event.join_max %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

</div>
